In [1]:
print('Hello World!')

Hello World!

In [5]:
from platform import python_version

print(python_version())

3.8.8

In [7]:
if 5 > 2:
    print("five is greater than two")

five is greater than two

In [8]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [9]:
x = 4
x = "sally"
print(x)

sally

In [10]:
x = 5
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#myvar = "John"
#my_var = "John"
#_my_var = "John"
#myVar = "John"
#MYVAR = "John"
#myvar2 = "John"
 ##camel_case Each word, except the first, starts with a capital letter
   # myVariableName = "John"
    #Pascal Case
    #MyVariableName = "John"
    #snake case
    #my_variable_name = "John"

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [16]:
x = "awesome"
print("Python is " +  x)

Python is awesome

In [17]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [18]:
x = 5
y = 10
print(x+y)

15

In [19]:
x = "awesome"

def myfunc():
    print("Python is " + x)
    
myfunc()

Python is awesome

In [21]:
def myfunc():
    global x
    x = "fantastic"
myfunc()    

print("p is " + x)

p is fantastic

In [ ]:
#Text Type:	str
#Numeric Types:	int, float, complex
#Sequence Types:	list, tuple, range
#Mapping Type:	dict
#Set Types:	set, frozenset
#Boolean Type:	bool
#Binary Types:	bytes, bytearray, memoryview

In [22]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [24]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [25]:
import random

print(random.randrange(1,10))

7

In [26]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [1]:
a = "Hello World!"
print(a[1])

e

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [4]:
a = "Nisha"
print(len(a))

5

In [5]:
txt = 'The best things in life are free!'
print('free' in txt)

True

In [6]:
txt = 'The best things in life are free!'
if "free" in txt:
    print("Yes")

Yes

In [7]:
txt = "The best things in life are free!"
print('expensive' not in txt)

True

In [14]:
b = "Hello, World"
print(len(b))
print(b[3])
print(type(b))
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

12
l
<class 'str'>
llo
Hello
llo, World
Wor

In [21]:
a =  "The Song"
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("H", "J"))
print(a.split(" , "))

THE SONG
the song
The Song
The Song
['The Song']

In [22]:
a = "Love"
b = "Silk"
c = a + b
print(c)

LoveSilk

In [23]:
a = "Love"
b = "Silk"
c = a + " " + b
print(c)

Love Silk

In [24]:
age = 36
txt = "My name is Nisha, and I am {}"
print(txt.format(age))

My name is Nisha, and I am 36

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollar."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollar.

In [28]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [33]:
txt = "I love my India"
print(txt.capitalize())
print(txt.casefold())

I love my india
i love my india

In [34]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [35]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [72]:
txt = "My name is Ståle"
x = txt.encode()
print(x)

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

txt = "H\te\tl\tl\to"
x = txt.expandtabs(2)
print(x)

txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

txt = "Company12"
x = txt.isalnum()
print(x)

txt = "CompanyX"
x = txt.isalpha()
print(x)


txt = "\u0033"
x = txt.isdecimal()
print(x)

txt = "50800"
x = txt.isdigit()
print(x)

txt = "Demo"
x = txt.isidentifier()
print(x)

txt = "hello world!"
x = txt.islower()
print(x)

txt = "565543"
x = txt.isnumeric()
print(x)

txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

txt = "   "
x = txt.isspace()
print(x)


txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

txt = "banana"
x = txt.ljust(20)
print(x, "is my fav fruit.")

txt = "Hello my FRIENDS"
x = txt.lower()
print(x)


txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my fav")

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

txt = "Mi casa, su casa."
x = txt.rfind('casa')
print(x)

txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.partition("bananas")
print(x)

txt = "apple, banana, cherry"
x = txt.split(" , ")
print(x)

txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

txt = "Welcome to my world"
x = txt.title()
print(x)

mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

txt = "Hello my friends"
x = txt.upper()
print(x)


txt = "50"
x = txt.zfill(10)
print(x)

b'My name is St\xc3\xa5le'
True
H e l l o
7
7
True
True
True
True
True
True
True
True
True
True
True
John#Peter#Vicky
banana               is my fav fruit.
hello my friends
of all fruits banana      is my fav
Hello Pam!
('I could eat ', 'bananas', ' all day')
I like apples
12
12
              banana is my favorite fruit.
('I could eat ', 'bananas', ' all day, bananas are my favorite fruit')
['apple, banana, cherry']
['Thank you for the music', 'Welcome to the jungle']
True
of all fruits banana is my favorite
hELLO mY nAME iS peter
Welcome To My World
Hello Pam!
HELLO MY FRIENDS
0000000050

In [73]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [74]:
a = 200
b = 33

if b > a :
    print("b is greater")
else:
    print("a is greater")

a is greater

In [75]:
print(bool("Hello"))
print(bool(15))

True
True

In [80]:
bool("abc")
bool(123)
bool(["apple", "cheery"])

True

In [79]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [81]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [82]:
def myFunction() :
  return True

print(myFunction())

True

In [83]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [84]:
x = 200
print(isinstance(x, int))

True

In [5]:
thislist = ["apple", "banana","cherry"]
print(thislist)
print(len(thislist))
print(type(thislist))

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']
3
<class 'list'>
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [11]:
thislist = list(("apple", "banana"))
print(thislist)
print(thislist[1])
print(thislist[-1])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])

['apple', 'banana']
banana
banana
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [24]:
thislist = ["apple", "cherry", "banana"]
thislist[1] = "blackcurrent"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrent", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist


thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

['apple', 'blackcurrent', 'banana']
['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'watermelon']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]

In [25]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [26]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [27]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i+1

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)  


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)


thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[50, 65, 23, 82, 100]
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']

In [42]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)   


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [14]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
print(type(thistuple))

thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)


fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,*red) = fruits

print(green)
print(yellow)
print(red)

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

    
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])
    
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
    

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

3
<class 'tuple'>
('apple', 'banana', 'cherry')
cherry
('apple', 'kiwi', 'cherry')
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['mango', 'papaya', 'pineapple']
cherry
apple
banana
cherry
apple
banana
cherry
('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [31]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
print(len(thisset))
print(type(thisset))

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)


thisset = {"apple", "banana", "cherry"}
thisset.add("kiwi")
print(thisset)

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

{'banana', 'apple', 'cherry'}
3
<class 'set'>
{'banana', 'apple', 'cherry'}
True
{'kiwi', 'banana', 'apple', 'cherry'}
{'banana', 'apple', 'mango', 'cherry', 'papaya', 'pineapple'}
{'apple', 'cherry'}
{'apple', 'cherry'}
banana
{'apple', 'cherry'}
set()

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{1, 2, 'a', 'c', 3, 'b'}
{1, 2, 'a', 'c', 3, 'b'}
{'apple'}
{'apple'}
{'banana', 'microsoft', 'cherry', 'google'}

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])


thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 2020
}
print(thisdict)
print(len(thisdict))
print(type(thisdict))
print(thisdict["model"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
<class 'dict'>
Mustang

In [18]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()
print(x)

car["color"] = "white"
print(x)

y = car.values()
print(y)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [23]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car)

x = car.keys()
y = car.values()
z = car.items()
print(x)
print(y)
print(z)


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

if "model" in thisdict:
    print("Yes")

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
Yes

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{}

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)
    
    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(thisdict[x])
    
    
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict.values():
    print(x)
    

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
    print(x)

brand
model
year
Ford
Mustang
1964
Ford
Mustang
1964
brand
model
year

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = thisdict.copy()
print(mydict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [39]:
myfamily = {
    "child1" : {
        "name" : "Email",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}
print(myfamily)

{'child1': {'name': 'Email', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [42]:
a = 33
b = 200
if b > a:
    print("b is greater")

b is greater

In [43]:
a = 33
b = 33
if b > a:
    print("b is greater")
elif a == b:
    print("equality")

equality

In [44]:
a = 200
b = 33
if b > a:
    print("b is greater")
elif a == b:
    print("equality")
else:
    print("a is greater")

a is greater

In [45]:
if a > b: print("a is greater")

a is greater

In [46]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [47]:
a = 330
b = 330
print("A") if a > b else print ("=") if a == b else print("B")

=

In [48]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("both correct")

both correct

In [49]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("Atleast one is True")

Atleast one is True

In [55]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [2]:
i = 1
while i < 6:
    print(i)
    i = i + 1

1
2
3
4
5

In [5]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [7]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [8]:
i = 1
while i < 6:
    print(i)
    i = i + 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [9]:
fruits = ["apple", "cherry", "pineapple"]
for x in fruits:
    print(x)

apple
cherry
pineapple

In [10]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
     break

apple
banana

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [27]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [28]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [29]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [33]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("finished")

0
1
2

In [34]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
for x in [0, 1, 2]:
    pass

In [4]:
####FUNCTIONS
def my_function():
    print("Rabbit")
    
my_function()

Rabbit

In [9]:
def my_function(fname):
    print(fname + " Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [10]:
def my_function(fname, lname):
    print(fname + " " + lname)
    
my_function("Email", "Refneses")

Email Refneses

In [11]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Email", "Tobais", "Nisha")

The youngest child is Nisha

In [12]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [13]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
my_function(fname = "rajan", lname = "nisha")

His last name is nisha

In [21]:
def my_function(country = "norway"):
    print("I am from " + country)
my_function("sweden")
my_function("India")

I am from sweden
I am from India

In [22]:
def my_function(food):
    for x in food:
     print(x)
fruits = ["apple", "cherry"]
my_function(fruits)

apple
cherry

In [23]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [24]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [25]:
## Lambda

x = lambda a : a + 10
print(x(5))

15

In [26]:
x = lambda a, b : a * b
print(x(5,6))

30

In [27]:
x = lambda a, b, c : a+b+c
print(x(5,6,2))

13

In [28]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [29]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [32]:
##  ARRAYS
cars = ["Ford", "volvo", "BMW"]
x = cars[0]
x

'Ford'

In [35]:
cars[0] = "BMW"
print(cars)

['BMW', 'volvo', 'BMW']

In [36]:
print(len(cars))

3

In [39]:
cars.append("Honda")
print(cars)

['BMW', 'volvo', 'BMW', 'Honda', 'Honda', 'Honda']

In [40]:
cars.pop(1)

'volvo'

In [2]:
### Classes and Objects
class MyClass:
    x = 5

In [3]:
p1 = MyClass()
print(p1.x)

5

In [10]:
class Person:
 def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("john", 36)

print(p1.name)
print(p1.age)

john
36

In [11]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [12]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [13]:
del p1.age

In [ ]:
#Python Inheritance