In [2]:
import pandas as pd

df = pd.read_csv("Rainfall.csv")
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2856,11,18.3,35.4,0.0,10.7,8.2,15,31,0,...,17,14,1012.8,1010.7,3,7,26.3,34.0,0,1
1,575,0,12.0,21.1,0.0,2.4,4.9,11,22,15,...,70,60,1022.3,1020.2,2,7,16.2,19.4,0,0
2,2037,6,11.9,17.0,1.6,5.6,0.8,5,48,4,...,71,88,1008.4,1004.7,7,7,14.6,13.3,1,1
3,2010,19,1.3,10.2,4.2,2.6,4.4,15,33,15,...,87,64,1018.4,1016.8,7,7,3.8,8.5,1,0
4,2895,18,23.7,31.5,0.0,11.0,12.1,4,35,2,...,53,50,1014.2,1010.2,3,1,29.1,30.4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24191,3231,16,20.8,24.4,0.0,7.6,7.9,1,48,4,...,56,56,1019.3,1016.6,5,2,23.0,23.8,0,0
24192,3405,16,10.7,20.1,0.6,1.2,6.4,13,22,13,...,89,69,1027.9,1024.4,2,6,11.9,18.7,0,0
24193,638,17,9.5,21.6,0.0,2.8,4.9,13,28,6,...,72,36,1019.2,1013.8,7,1,12.7,21.1,0,0
24194,987,11,5.5,9.0,0.8,0.8,0.6,8,43,7,...,91,83,1018.4,1017.9,8,8,7.1,7.8,0,1
24195,1143,8,19.5,31.8,0.0,13.4,6.3,4,50,0,...,52,37,1008.0,1006.3,3,5,24.2,30.3,0,0

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('Rainfall.csv')
data.sample(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
2149,2409,20,6.4,24.8,0.0,6.0,11.2,3,39,4,...,58,31,1027.3,1022.6,1,1,17.3,24.0,0,0
11576,2955,18,25.6,32.3,5.2,6.8,8.5,0,35,10,...,84,67,1008.5,1006.2,3,2,28.3,31.9,1,1
6940,1420,18,23.9,31.1,0.4,6.8,11.7,1,41,0,...,62,66,1016.4,1013.5,3,1,29.0,28.6,0,0
24175,626,15,0.4,14.8,2.6,3.4,8.7,15,33,7,...,74,46,1024.0,1019.8,1,6,6.0,13.6,1,0
19833,1601,1,21.6,29.0,0.0,7.6,9.4,9,46,8,...,58,55,1016.6,1014.3,2,2,25.5,28.0,0,0

In [8]:
data.drop(['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm'], axis=1, inplace=True)
data.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,18.3,35.4,0.0,10.7,8.2,31,17,9,17,14,1012.8,1010.7,3,7,26.3,34.0,0,1
1,12.0,21.1,0.0,2.4,4.9,22,9,9,70,60,1022.3,1020.2,2,7,16.2,19.4,0,0
2,11.9,17.0,1.6,5.6,0.8,48,24,30,71,88,1008.4,1004.7,7,7,14.6,13.3,1,1
3,1.3,10.2,4.2,2.6,4.4,33,15,17,87,64,1018.4,1016.8,7,7,3.8,8.5,1,0
4,23.7,31.5,0.0,11.0,12.1,35,17,28,53,50,1014.2,1010.2,3,1,29.1,30.4,0,0

In [9]:
data.fillna(data.mean(), inplace=True)
data.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,18.3,35.4,0.0,10.7,8.2,31,17,9,17,14,1012.8,1010.7,3,7,26.3,34.0,0,1
1,12.0,21.1,0.0,2.4,4.9,22,9,9,70,60,1022.3,1020.2,2,7,16.2,19.4,0,0
2,11.9,17.0,1.6,5.6,0.8,48,24,30,71,88,1008.4,1004.7,7,7,14.6,13.3,1,1
3,1.3,10.2,4.2,2.6,4.4,33,15,17,87,64,1018.4,1016.8,7,7,3.8,8.5,1,0
4,23.7,31.5,0.0,11.0,12.1,35,17,28,53,50,1014.2,1010.2,3,1,29.1,30.4,0,0

In [10]:
data.RainToday = [1 if each == 'Yes' else 0 for each in data.RainToday]
data.RainTomorrow = [1 if each == 'Yes' else 0 for each in data.RainTomorrow]
data.sample(3)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
22640,10.4,19.3,0.2,0.6,2.0,33,17,13,67,65,1018.6,1014.9,7,7,16.2,18.4,0,0
1744,16.3,22.2,0.8,4.6,9.7,33,13,19,54,61,1025.3,1023.1,1,3,20.3,21.2,0,0
13094,21.4,30.7,3.6,7.6,8.1,39,9,22,58,67,1014.2,1013.2,2,8,28.2,25.8,0,0

In [11]:
y = data.RainTomorrow.values
x_data = data.drop('RainTomorrow', axis=1)
x_data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,18.3,35.4,0.0,10.7,8.2,31,17,9,17,14,1012.8,1010.7,3,7,26.3,34.0,0
1,12.0,21.1,0.0,2.4,4.9,22,9,9,70,60,1022.3,1020.2,2,7,16.2,19.4,0
2,11.9,17.0,1.6,5.6,0.8,48,24,30,71,88,1008.4,1004.7,7,7,14.6,13.3,0
3,1.3,10.2,4.2,2.6,4.4,33,15,17,87,64,1018.4,1016.8,7,7,3.8,8.5,0
4,23.7,31.5,0.0,11.0,12.1,35,17,28,53,50,1014.2,1010.2,3,1,29.1,30.4,0

In [13]:
import numpy as np
x = (x_data - np.min(x_data)) / (np.max(x_data) - np.min(x_data))
x.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0.637119,0.733021,0.000000,0.178930,0.565517,0.194690,0.238095,0.094595,0.144330,0.14,0.541039,0.546552,0.375,0.777778,0.673317,0.714623,NaN
1,0.462604,0.398126,0.000000,0.040134,0.337931,0.115044,0.111111,0.094595,0.690722,0.60,0.700168,0.710345,0.250,0.777778,0.421446,0.370283,NaN
2,0.459834,0.302108,0.007759,0.093645,0.055172,0.345133,0.349206,0.378378,0.701031,0.88,0.467337,0.443103,0.875,0.777778,0.381546,0.226415,NaN
3,0.166205,0.142857,0.020369,0.043478,0.303448,0.212389,0.206349,0.202703,0.865979,0.64,0.634841,0.651724,0.875,0.777778,0.112219,0.113208,NaN
4,0.786704,0.641686,0.000000,0.183946,0.834483,0.230088,0.238095,0.351351,0.515464,0.50,0.564489,0.537931,0.375,0.111111,0.743142,0.629717,NaN

In [14]:
# importing sklearn's library for splitting our dataset:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=75)

# For our matrix calculations we need to transpose our matrixis:
x_train = x_train.T
y_train = y_train.T
x_test = x_test.T
y_test = y_test.T

print('x_train shape is: ', x_train.shape)
print('y_train shape is: ', y_train.shape)
print('x_test shape is: ', x_test.shape)
print('y_test shape is: ', y_test.shape)

x_train shape is:  (17, 19356)
y_train shape is:  (19356,)
x_test shape is:  (17, 4840)
y_test shape is:  (4840,)

In [15]:
def initialize_weight_bias(dimension):
    w = np.full((dimension,1), 0.01)    # Create a matrix by the size of (dimension,1) and fill it with the values of 0.01
    b = 0.0
    return w,b

In [16]:
def sigmoid(z):
    y_head = 1 / (1 + np.exp(-z))
    return y_head

In [17]:
def forward_backward_propagation(w, b, x_train, y_train):
    # forward propagation:
    z = np.dot(w.T, x_train) + b
    y_head = sigmoid(z)
    
    loss = -(1 - y_train) * np.log(1 - y_head) - y_train * np.log(y_head)     # loss function formula
    cost = (np.sum(loss)) / x_train.shape[1]                               # cost function formula
    
    # backward propagation:
    derivative_weight = (np.dot(x_train,((y_head-y_train).T)))/x_train.shape[1]
    derivative_bias = np.sum(y_head-y_train)/x_train.shape[1]
    
    gradients = {'derivative_weight': derivative_weight, 'derivative_bias': derivative_bias}
    
    return cost, gradients

In [18]:
def update(w, b, x_train, y_train, learning_rate, nu_of_iteration):
    cost_list = []
    cost_list2 = []
    index = []
    
    # Initialize for-back propagation for the number of iteration times. Then updating w and b values and writing the cost values to a list:  
    for i in range(nu_of_iteration):
        cost, gradients = forward_backward_propagation(w, b, x_train, y_train)
        cost_list.append(cost)
    
        # Update weight and bias values:
        w = w - learning_rate * gradients['derivative_weight']
        b = b - learning_rate * gradients['derivative_bias']
        # Show every 20th value of cost:
        if i % 20 == 0:
            cost_list2.append(cost)
            index.append(i)
            print('Cost after iteration %i: %f' %(i,cost))
    
    parameters = {'weight': w, 'bias':b}
    
    # Visulization of cost values:
    plt.plot(index, cost_list2)
    plt.xlabel('Nu of Iteration')
    plt.ylabel('Cost Function Value')
    plt.show()
    
    return parameters, gradients, cost_list

In [19]:
def prediction(w, b, x_test):
    z = sigmoid(np.dot(w.T, x_test) + b)
    y_prediction = np.zeros((1,x_test.shape[1]))
    
    for i in range(z.shape[1]):
        if z[0,i]<= 0.5:
            y_prediction[0,i] = 0
        else:
            y_prediction[0,i] = 1
            
    return y_prediction